# The dependencies of the Streamlit chatbot
streamlit
plotly
pandas
transformers
numpy
scikit-learn
scipy
regex
matplotlib
wordcloud
torch
spacy
neattext
textblob
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
nltk
sacrebleu
rouge
